# Enforce dependency hermeticity: Fail the build if MODULE.bazel.lock is out of sync.
# To update the lockfile after a dependency change, run: bazel mod tidy
common --lockfile_mode=error
common --tool_java_runtime_version=remotejdk_25
common --java_runtime_version=remotejdk_25
# Swift on Linux requirements
build --action_env=CC=clang
build --repo_env=CC=clang
build --action_env=PATH=/home/meisam/swift-6.0.2-RELEASE-ubuntu24.04/usr/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
build --repo_env=PATH=/home/meisam/swift-6.0.2-RELEASE-ubuntu24.04/usr/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
